/* FONTS and COLORS

font-family: 'Roboto Mono', monospace;
font-family: 'EB Garamond', serif;
font-family: 'Bree Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Slabo 27px', serif;
font-family: 'ZCOOL XiaoWei', serif;

main-background: #BCD3D7;
header-background: #476B71;
*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #BCD3D7;
  flex: 1 0 auto;
  font-family: 'Merriweather', serif;
  padding-top: 50px;
}

header {
  display: inline-flex;
  background-color: #476B71;
  color: white;
  letter-spacing: 0.1em;
  border-bottom: 5px double #B7D4DA;
}

.nav-container, .icons {
  width: 50%;
}

.nav-container {
  width: 50%;
}

.nav-container img {
  height: 35px;
  border-radius: 25px;
  padding: 5px;
}

nav li {
  padding: 2px;
  list-style-type: none;
}

.icons {
  padding: 20px;
  text-align: right;
  font-style: italic;
  letter-spacing: 0.1em;
}

.icons p {
  margin: 1% 5%;
}

.icons span {
  vertical-align: middle;
  font-size: 1.3em;
  margin-left: 1%;
}

@media only screen and (min-width: 800px) {
  nav ul {
    display: flex;
    height: 100%;
  }
  
  nav ul span {
    align-self: flex-end;
  }
  
  nav ul li {
    display: inline-block;
    align-self: flex-end;
    padding-right: 5%;
  }
  
  nav p {
    margin: 0;
  }
}  