html, body {
  height: 100%;
}

body {
  background-color: #476B71;
  color: white;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 1% 5%;
}

main {
  background-color: #64969F;
  color: black;
  flex: 1 0 auto;
  text-align: center;
}

header {
  line-height: 2em;
  font-style: italic;
  border-bottom: 5px double #B7D4DA;
}

footer {
  border-top: 5px double #B7D4DA;
  flex-shrink: 0;
  text-align: center;
}