a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
  color: #B7D4DA;
  cursor: pointer;
}

.selected {
  font-weight: bold;
  margin-left: 1%;
  color: #B7D4DA;
}

.selected a {
  border-bottom: 2px solid #B7D4DA;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}