/* Mobile First */

/* COLORS 
about-link: #476B71
education-underline: #36646E
skill-box: #92B4C2
skill-box-mobile: #92B4C2/#5B8699
language-selection/project-title/Github link: #022956
language-selected: #92B4C2;
*/

/* About and Education */
.about a {
  color: #476B71;
}

.about a:hover, #language-selection a:hover {
  color: white;
  cursor: pointer;
}

.about div {
  width: 90%;
  margin: 0 auto;
}

.about img {
  width: 100%;
  margin: 20px 0;
}

.education {
  width: 90%;
  margin: 0 auto;
}

.education h4 {
  line-height: 3em;
  border-bottom: 2px solid #36646E;
}

.education p {
  line-height: 2em;
  padding-left: 20px;
}

.education .container {
  padding-bottom: 0;
}

.education .container #school {
  font-style: normal;
  font-weight: bold;
}

.education .container #major {
  font-style: italic;
}

/* Experience */
.experience {
  display: flex;
  flex-direction: column;
}

.general {
  font-family: 'Merriweather', serif;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #92B4C2;
}

.general h3 {
  text-decoration: underline;
}

.experience .left, .experience .right {
  width: 90%;
}

.skill-box {
  font-family: 'Merriweather', serif;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: #92B4C2;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: flex-start;
}

.skill-box ul {
  padding-left: 5px;
}

.skill-box li {
  padding: 2px;
  list-style-position: inside;
}

/* Projects */
#language-selection {
  padding: 0;
  text-align: center;
}

#language-selection li {
  display: inline;
  margin: 2%;
}

#language-selection li a {
  color: #022956;
}

#language-selection .selected {
  border-bottom: 2px solid #92B4C2;
  color: #92B4C2;
}

#project-view {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-box {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}

.project-box h4 {
  margin: 0 0 20px 0;
  font-family: 'Bree Serif', serif;
  text-decoration: underline;
  color: #022956;
}

.project-box h5 {
  margin: 5px 0;
  font-style: oblique;
}

.project-box a {
  color: #022956;
}

.project-box a:hover {
  color: white;
}

.project-box:nth-child(2n) {
  background-color: #92B4C2;
}

.project-box:nth-child(2n + 1) {
  background-color: #BED8E3;
}

/* Desktop */
@media only screen and (min-width: 800px) {
  /* About and Education */
  .education {
    width: 40%;
    margin: 0;
  }

  .about {
    line-height: 1.5em;
    width: 55%;
    padding-top: 20px;
  }

  .about h1 {
    text-align: left;
    margin-bottom: 50px;
  }

  .page {
    display: flex;
  }

  /* Experience */
  .general {
    width: 80%;
  }

  .experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .experience .left, .experience .right {
    width: 40%;
    margin: 20px;
  }

  .skill-box {
    height: 300px;
  }

  .education .container {
    padding-bottom: 10px;
  }

  /* Projects */
  #project-view {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: stretch;
  }

  #project-view .project-box {
    flex-grow: 1;
    background-color: #92B4C2;
    width: 20%;
    border-radius: 10px;
    padding: 30px;
  }

  .javascript, .c, .python {
    margin: 3px;
  }

  .python, .c {
    width: 20%;
    margin: 3px;
  }
}