@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  padding: 0;
  margin: 1% 5%;
}å

main li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #B7D4DA;
  cursor: pointer;
}

.selected a {
  color: #B7D4DA;
  border-bottom: 2px solid #B7D4DA;
}

#subtitle {
  margin: 3%;
}

.homepage h1 {
  margin: 3%;
}

.homepage #subtitle * {
  margin: 5px;
}

.homepage img {
  width: 35%;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  animation-name: fadein;
  animation-duration: 2s;
}

header .container {
  margin: 1%;
}

main .container {
  width: 100%;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.skill-box {
  width: 80%;
  margin: 1% auto;
  /* padding: 2%; */
  background-color: #3B6E85;
  /* border: 5px double #B7D4DA; */
}

.skill-box h3 {
  font-family: 'Bree Serif', serif;
  text-decoration: underline;
}

.skill-box li {
  font-family: 'Slabo 27px', serif;
  margin: 5px;
}

.education {
  width: 90%;
  height: 100%;
  margin: 2% auto;
}

.education .container {
  background-color: #3B6E85;
  margin-top: 2px;
}

.education .container div {
  width: 100%;
  padding: 0 3%;
  border-bottom: 2px solid #B7D4DA;
}

.education .container div h4 {
  line-height: 0em;
}

.education .container p {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}

.education .container #school {
  font-style: normal;
  font-weight: bold;
}

.education .container #major {
  font-style: italic;
}

.about {
  text-align: left;
}

.about h1 {
  text-align: center;
  padding-left: 2%;
}

.about div {
  width: 90%;
  margin: 0 auto;
}

#language-selection li {
  font-family: 'Slabo 27px', serif;
  display: inline;
  margin: 3%;
}

#project-view {
  width: 90%;
  margin: 2% auto;
  border: 5px double #B7D4DA;
  background-color: #3B6E85;
  letter-spacing: 0.01em;
}

.javascript, .python, .c {
  display: flex;
  flex-direction: column; 
}

.project-box {
  width: 95%;
  margin: 0 auto;
  padding: 2% 2% 10% 2%;
  text-align: left;
  position: relative;
  border-bottom: 2px dashed #B7D4DA;
}

.project-box h4 {
  font-family: 'Bree Serif', serif;
  text-decoration: underline;
  color: #022956;
}

.project-box h5 {
  font-family: 'Slabo 27px', serif;
  font-style: oblique;
}

.project-box p {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 1% 2% 3% 2%;
}

.project-box div {
  position: absolute;
  bottom: 5px;
}

.project-box div a {
  margin-right: 10px;
  font-size: 75%;
}

@media only screen and (max-width: 800px) {
  .javascript .project-box:nth-child(2n) {
    background-color: #518D93;
  }
  
  .javascript .project-box:nth-child(2n + 1) {
    background-color: #2B7981;
  }
  
  .python .project-box:nth-child(n) {
    background-color: #518D93;
  }
  
  .python .project-box:nth-child(2n) {
    background-color: #2B7981;
  }
  
  .c .project-box:nth-child(n) {
    background-color: #518D93;
  }

  .c .project-box:nth-child(2n) {
    background-color: #2B7981;
  }

  .c .project-box:last-child {
    border-bottom: none;
  }
  #project-view .visible .project-box:last-child {
    border-bottom: none;
  }
}

@media only screen and (min-width: 1000px) {
  .homepage img {
    width: 15%;
  }

  .education {
    width: 40%;
    margin: 0;
  }

  .about {
    line-height: 1.5em;
    width: 55%;
    padding-top: 20px;
  }

  .about h1 {
    text-align: left;
    margin-bottom: 50px;
  }
  
  .education .container div {
    width: 100%;
    border-bottom: 2px solid #B7D4DA;
  }

  .education .container p {
    width: 100%;
    text-align: left;
    line-height: 2em;
    margin: 2%;
    padding-left: 6%;
  }

  .javascript, .python, .c {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .javascript .project-box {
    margin: 3px;
  }

  .python .project-box, .c .project-box {
    width: 30%;
    margin: 5px;
  }

  .project-box {
    width: 20%;
    padding: 0 2% 4% 2%;
    border: 1px dashed #B7D4DA;
    background-color: #2B7981;
  }

  .project-box p {
    padding-bottom: 2%;
  }
}